* {
    box-sizing: border-box;
}

.container {
    border: solid 1px;
    display: flex;
    width: auto;
    height: 500px;
    background-color: grey;
    padding: 50px;
    flex-wrap: wrap;
}

.box1 {
    background-color: aqua;
    width: 47.5%;
    border: solid 1px;
    line-height: 75px; /*Altura en ambos lados*/
    font-size: 50px;
    margin-right: 5%;
}

.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 47.5%;
}

.min1 {
    background-color: aqua;
    border: solid 1px;
    width: 100%;
    height: 30%;
}

.min2 {
    background-color: aqua;
    border: solid 1px;
    width: 47%;
    height: 30%;
    margin-right: 6%;
}

.min3 {
    background-color: aqua;
    border: solid 1px;
    width: 47%;
    height: 30%;
}

.min4 {
    background-color: aqua;
    border: solid 1px;
    width: 100%;
    height: 30%;
}
